.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo{
    width: 130px;
}
.nav-item ul{
    display: flex;
    font-size: 24px;
    padding-right: 30px;
    list-style-type: none;
}
.nav-item ul li {
    padding: 10px;
    margin: 10px;
}

.res-card {
    margin: 20px;
    width: 200px;
    height: 300px;
    padding: 5px;
    border: 1px solid rgb(255, 255, 255)
    
}
.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
    
}

.search {
    padding: 10px;
}
.res-logo {
    width: 100%;
}
.star{
    margin: 0 4px 0 2px;
    width: 11px;
}
.res-container {
    display: flex;
    flex-wrap: wrap;
}