.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo{
    width: 130px;
}
.nav-item ul{
    display: flex;
    font-size: 24px;
    padding-right: 30px;
    list-style-type: none;
}
.nav-item ul li {
    padding: 10px;
    margin: 10px;
}